<!DOCTYPE html>

<!-- This is at the bottom of every page extending from the base layout -->
<th:block th:fragment="footer">
    <div class="px-4 py-5 my-5 text-center">
        <h3 class="display-5 fw-bold"> Bread's Car Stuff </h3>
        <div class="row justify-content-center">
            <h4>We are BreadBops, a website designed to make your life easy to view and buy your dream cars. There are specifically designed features to help you make the best purchase possible.</h4>
        </div>
    </div>
</th:block>
