<!DOCTYPE html>


<!-- Begin navigation fragments -->
<th:block xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-secondary">
        <div class="container-fluid">
            <div class="btn-group">
                <a class="navbar-brand" th:href="@{https://github.com/kkwan0/breadbops}">Bread</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarHome">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" th:href="@{/}">Home<span class="sr-only"></span></a>
                        </li>
                    </ul>
                </div>

                <div class="collapse navbar-collapse" id="navbarNavDarkDropdown0">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink0" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Starters
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink0">
                                <li><a class="dropdown-item" th:href="@{/greet}">Spring Greeting</a></li>
                                <li><a class="dropdown-item" th:href="@{/birds}">Birds Background</a></li>
                                <li><a class="dropdown-item" th:href="@{/dne}">404 Error</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <div class="collapse navbar-collapse" id="navbarNavDarkDropdown0">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink0" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Calculators
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink0">
                                <li><a class="dropdown-item" th:href="@{/range}">Range Calculator</a></li>
                                <li><a class="dropdown-item" th:href="@{/powertoweight}">Power to Weight Calculator</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="collapse navbar-collapse" id="navbarNavDarkDropdown0">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink0" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                APIs
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink0">
                                <li><a class="dropdown-item" th:href="@{/api/car/daily}">Free Car API</a></li>
                                <li><a class="dropdown-item" th:href="@{/api/NHSTAmakes/dailyMakes}">NHSTA Makes API</a></li>
                                <li><a class="dropdown-item" th:href="@{/api/topBrands/}">Top Car Brands (Breadbops API) </a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="collapse navbar-collapse" id="navbarNavDarkDropdown0">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink0" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                API Viewers
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink0">
                                <li><a class="dropdown-item" th:href="@{/nhstaviewer}">NHSTA Makes Viewer</a></li>
                                <li><a class="dropdown-item" th:href="@{/models}">NHSTA Models Viewer</a></li>
                                <li><a class="dropdown-item" th:href="@{/testPOJOFrontend}">Testing Frontend for Breadbops API</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="collapse navbar-collapse" id="navbarNavDarkDropdown0">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink0" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Contributors
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink0">
                                <li><a class="dropdown-item" th:href="@{https://ad1616.github.io/ADfastpages/}">Sahil Samar</a></li>
                                <li><a class="dropdown-item" th:href="@{https://rohitd3.github.io/rohitfastpages/}">Rohit De</a></li>
                                <li><a class="dropdown-item" th:href="@{https://kkwan0.github.io/KurtisFP/}">Kurtis Kwan</a></li>
                                <li><a class="dropdown-item" th:href="@{https://github.com/NathanShih04/NathanFP}">Nathan Shih</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <th:block sec:authorize="isAnonymous()">
                    <div class="px-3">
                        <a th:href='@{/login}' class="link-dark">Login</a>
                    </div>
                    </th:block>
                    <th:block sec:authorize="isAuthenticated()">
                    <div class="px-3">
                       <a th:href='@{/logout}' class="link-dark">Logout</a>
                    </div>
                </th:block>
            </div>



  
            <script>

            </script>
        </div>
    </nav>
</th:block>
