<!-- This page is illustrative and contains ideas about HTML formatting -->
<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<!-- <head> -->
<div layout:fragment="head" th:remove="tag">
    <title>Car Update</title>
</div>



    <div id="inputs"> 
    
    <label for="inputCarName">Name</label>
    <input id="inputCarName" type="text" name="inputCarName" value=${car.name}" /><br>
    
    <label for="inputMake">Make</label>
    <input id="inputMake" type="text" name="inputMake" value=${car.make} autocomplete="off" /><br>
    
    <label for="inputModel">Model</label>
    <input id="inputModel" type="text" name="inputModel" value=${car.model} autocomplete="off" /><br>
    
    <label for="inputYear">Year</label>
    <input id="inputYear" type="number" name="inputYear" value=${car.year} autocomplete="off" /><br>
    
    <label for="inputCarDescription">Description</label>
    <textarea id="inputCarDescription" name="inputCarDescription" rows="4" cols="50">${car.description}
    Enter description here...
    </textarea><br>
    
    <p><label for="img">Upload Image</label>
    <input id="inputCarImage" type="file" id="img" name="inputCarImage" accept="image/*"></p><br>
     
    
    <button class="button1" onclick="back()">Back</button>
    <button class="button1" onclick="input()">Update</button>
    
    </div> 
    

</html>
