<!-- This page is illustrative and contains ideas about HTML formatting -->
<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/base}" lang="en">

<style>
body {
    background: -webkit-linear-gradient(to right, #333333, #dd1818);
}
</style>

<head>
    <title>BreadBops Cars</title>
</head>

<body>
<th:block layout:fragment="body" th:remove="tag">
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto">
        <h1 class = "text-center"><strong> Welcome to breadbops! </strong></h1>
    </div>
</th:block>
</body>

</html>